
#educationSection{
    background-color: black;
}
#educationSection>div:first-child{
    padding-top: 250px;
    width: 76%;
    height: 78%;
    background-color: rgba(220, 241, 250, 1);
    position: absolute;
    top: 270vh;
    left: 12vw;
    border-radius: 12px;
    box-shadow: rgba(75, 0, 130, 0.25) 0px 50px 100px -20px, rgba(255, 20, 147, 0.3) 0px 30px 60px -30px;
}
#educationSection>div:nth-child(2){
    width: 29%;
    height: 60%;
    position: absolute;
    top: 270vh;
    left: 10vw;
    margin-top: 200px;
    border-radius: 12px;
    background-color: rgba(96, 207, 255, 1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#educationSection>div:nth-child(2)>img:first-child{
    width: calc(28vw + 10px);
    position: absolute;
    top: calc(19vh + 4px);
    border-radius: 8px;

}
#educationSection>div:nth-child(2)>img:nth-child(2){
    position: absolute;
    top: 4vh;
    left: 10vw;
    width: 7vw;

}
#educationSection>div:first-child>nav{
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 17vw;
    top: 13vh;

}
#educationSection>div:first-child>h3{
    font-family: monospace ;
    color: grey;
    top: 13vh;
    position: absolute;
    left: 36vw;
    width: 25vw;
}
#educationSection>div:first-child>h1{
    top: 18vh;
    position: absolute;
    left: 36vw;
    width: 33vw;
    font-family: cursive;
}
#educationSection>div:first-child>p{
    position: absolute;
    top: 32vh;
    left: 36vw;
    width: 30vw;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    line-height: 28px;
}
#educationSection>div:first-child>input{
    position: absolute;
    top: 59vh;
    border: 1px solid black;
    padding: 8px;
    left: 36vw;
    text-decoration: none;
}
.fade{
    animation: fadeinout 1s forwards;
    animation-direction: alternate;
}
.btn{
    animation: btn 1s ease forwards;
}

@media all and (max-width: 1024px){


    #educationSection>div:nth-child(1) {
        position: relative;
        height: 400px;

top: 800px    }
    #educationSection>div:nth-child(2){
        /*position: relative;*/
        /*top: 250px;*/
        /*background-color: #0d3fc4;*/
margin-top: -200px;    }
    #educationSection>div:nth-child(2)>img:nth-child(2){
        top: 7vh;
    }
}

@media all and (max-width: 769px) {
    #educationSection > div:nth-child(2) {

        left: 30vw;
        width: 35vw;
        height: 34vh;
    }

    #educationSection>div:nth-child(1) {
        position: relative;
        height: 400px;
        top: 100px;

    }
    #educationSection>div:nth-child(2)>img:first-child{
        width: 35vw;
        top: 13vh !important;
    }
    #educationSection>div:nth-child(2)>img:nth-child(2) {
        left: 14vw;
    }
    #educationSection>div:first-child>h3{
        top: 15vw;
        width: 41vw;
        left: 11vw;
    }
    #educationSection>div:first-child>h1{
        top: 20vw;
        width: 58vw;
        left: 10vw;
        font-size: 170%;
    }
    #educationSection>div:first-child>p{
        top: 29vw;
        width: 55vw;
        left: 10vw;
    }
    #educationSection>div:first-child>input{
        top: 46vw;
        left: 10vw;
    }

}
@media all and (max-width: 425px) {
    #educationSection > div:nth-child(1){
        position: relative;
        top: 50vh;
    }
    #educationSection > div:nth-child(2) {
        position: relative;
        top: 30vh;
        left: 55vw;
        width: 35vw;
        height: 19vh;
    }
    #educationSection>div:nth-child(2)>img:first-child{
        width: 35vw;
        top: 7vh !important;
    }
    #educationSection>div:nth-child(2)>img:nth-child(2) {
        left: 14vw;
        top: 2vh !important;
    }
    #educationSection>div:first-child>h3{
        top: 8vw;
        width: 54vw;
        left: 11vw;
        font-size: 15px;
    }
    #educationSection>div:first-child>h1{
        top: 15vw;
        width: 58vw;
        left: 10vw;
        font-size: 147%;
    }
    #educationSection>div:first-child>p{
        top: 36vw;
        width: 57vw;
        left: 10vw;
    }
    #educationSection>div:first-child>input{
        top: 80vw;
        left: 10vw;
        z-index: 9999;
    }

}
@media all and (max-width: 376px) {
    #educationSection>div:first-child>h3{
        top: 27%;
        width: 54vw;
        left: 11vw;
        font-size: 11px;
    }
    #educationSection>div:first-child>h1{
        top: 34%;
        width: 58vw;
        left: 10vw;
        font-size: 117%;
    }
    #educationSection>div:first-child>p{
        top: 46%;
        width: 57vw;
        left: 10vw;
    }
    #educationSection>div:first-child>input{
        top: 88%;
        left: 10vw;
        z-index: 9999;
    }

}
@keyframes btn {
    from{
        background-color: indigo;
        color: black;
    }
    to{
        background-color: black;
        color: white;
    }
}
@keyframes fadeinout {
    0% { opacity: 0; }
    100% { opacity: 1; }
}